%h2 Thank You

%p We have received your request to register on the University of Chicago Department of Computer Science job board. Once a reviewer has approved your account, you will receive an email and will be able to log in and submit new job postings.
%p= link_to "Return to Job Listings", postings_path
