%h2 Instructions for Employers

%p= link_to "Return to Job Postings", postings_path

%p Welcome to the Department of Computer Science's Job Board! If you are interested in recruiting undergraduates, masters students, and PhD students in the Department of Computer Science, we encourage you to submit job postings to this job board.

%p Please note that this job board is distinct from the (university-wide) Chicago Career Connections (CCC) site run by the Career Advancement office. Unlike the CCC site, our job board does not require students to create an account or submit a resumé before they can view job postings. Although this precludes doing in-depth tracking of job applicants, we find it is much more effective at getting the word out quickly about open positions (all positions submitted to the CS job board are publicly viewable). However, both sites are not mutually exclusive (in fact our job board is meant to complement CCC). If you prefer that students apply through CCC, please feel free to indicate so in the job posting. Nonetheless, we strongly encourage you to always provide an alternate application method: many of the Computer Science students do not have accounts on CCC, and may be discouraged from applying with your company if the only way to apply is through CCC.

%p The process to submit a job posting is simple:

%ol
    %li 
        Go to
        = link_to 'Add a new job posting', new_posting_path
    %li 
        You will be asked for the following information:
        %ul
            %li 
                %strong Title:
                The title of the position (e.g., "Software Engineer", "Product Manager", etc.)
            %li 
                %strong Company:
                The name of your company. If you are an individual looking to hire a student, just enter "Individual".
            %li 
                %strong Description:
                A 2-3 paragraph description of the position. Please make sure to include a list of requirements for the position (languages, skills, etc.). You should also include specific instructions on how students can apply for this job. As noted above, if you would like students to apply through CCC, we strongly encourage you to list an additional application method for students who don't have CCC accounts.
            %li 
                %strong Location:
                Where would the job applicant work?
            %li 
                %strong Tags:
                You can specify a few short tags that describe the position (e.g., you could enter tag "Java" for a job that requires Java skills). This information is used by students to search for jobs matching their interests.
            %li 
                %strong Job Type:
                You can select one of the following: 
                %ul
                    %li 
                        %em Full-time job:
                        A full-time remunerated position for students who have completed their degree.
                    %li 
                        %em Internship:
                        A short-term remunerated position for students who are still pursuing their degree.
                    %li 
                        %em Part-time work:
                        Remunerated part-time work that is compatible with taking classes. In other words, a student with a full-time class workload should be able to perform this work.
                    %li 
                        %em Entrepreneurial opportunities:
                        Any type of work for startups that carries no guarantee of remuneration: developing a prototype for an early-stage startup, being a technical co-founder, etc.
            %li 
                %strong Deadline:
                The deadline by which students must apply to this position. Please note that, after this date, the job posting will no longer appear in our job board. If you decide to extend the deadline, you will be able to easily re-publish the job posting later on.
            %li 
                %strong Contact:
                Contact information for students who have any questions about this position.
            %li 
                %strong URL:
                URL of your company (optional)
            %li 
                %strong Attachment:
                You can attach files to the posting, such as flyers, etc.
    %li 
        Once you submit the job posting, it will be sent to one of our administrators for approval. Please allow 24-48 hours for a response. You will get one of the following responses:
        %ul
            %li 
                %strong Approved:
                Your posting was approved
            %li 
                %strong Changes Requested:
                The administrator has requested that you make certain changes before the posting is approved. You will be able to edit your posting, and re-submit it for approval.
            %li 
                %strong Rejected:
                Your job posting was rejected. The administrator will include a note explaining why. This is generally only done when we suspect a posting to be spam, and not a legitimate job posting.

    %li After your posting is approved, you can make changes to it (e.g., you can update the description, or extend the deadline). However, please note that changes will have to be reviewed by our administrators. While the updated posting is being reviewed, it will not be visible on the job board.

%p 
    If you have any questions, or run into any problems when submitting your job posting, please send an e-mail to
    = link_to "jobboard-support@mailman.cs.uchicago.edu", "mailto:jobboard-support@mailman.cs.uchicago.edu"

%p= link_to "Return to Job Postings", postings_path
