<div id="loginbanner">
<p><strong>Students:</strong> Sign in with your CNET ID to get customizable job alerts and recommendations.</p>
<p><strong>Employers:</strong> Create an account to post new jobs and internships.</p>
</div>
<div id="content">

<% columns = ["dateposted", "deadline", "organization", "position"] %>

<fieldset>
    <legend>Internships</legend>

	<% if @internships.count > 0 %>
	    <%= render 'job_postings/postings_table', :jobpostings => @internships, :columns => columns %>
	<% else %>
		<p>No internships are available at this time.</p>
	<% end %>

</fieldset>
<fieldset>
    <legend>Part-Time Jobs</legend>

	<% if @parttime.count > 0 %>
	    <%= render 'job_postings/postings_table', :jobpostings => @parttime, :columns => columns %>
	<% else %>
		<p>No part-time jobs are available at this time.</p>
	<% end %>

</fieldset>
<fieldset>
    <legend>Full-Time Jobs</legend>

	<% if @fulltime.count > 0 %>
	    <%= render 'job_postings/postings_table', :jobpostings => @fulltime, :columns => columns %>
	<% else %>
		<p>No full-time jobs are available at this time.</p>
	<% end %>

</fieldset>
</div>
