<div id="loginbanner">
<p><strong>Students:</strong> Sign in with your CNET ID to get customizable job alerts and recommendations.</p>
<p><strong>Employers:</strong> Create an account to post new jobs and internships.</p>
</div>
<div id="content">

<% if can? :create, JobPosting %>
<%= link_to 'New Posting', new_job_posting_path %>
<% end %>

<% columns = ["dateposted", "deadline", "organization", "position"] %>

<fieldset>
    <legend>Internships</legend>

    <%= render 'job_postings/postings_table', :jobpostings => @internships, :columns => columns %>

</fieldset>
<fieldset>
    <legend>Part-Time Jobs</legend>

    <%= render 'job_postings/postings_table', :jobpostings => @parttime, :columns => columns %>

</fieldset>
<fieldset>
    <legend>Full-Time Jobs</legend>

    <%= render 'job_postings/postings_table', :jobpostings => @fulltime, :columns => columns %>

</fieldset>
</div>
