<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="header">
            <h1>CS.UCHICAGO JOB POSTINGS</h1>
            <div id="loginpanel">
                <a href="">Sign In</a><br>
                <a href="">Create Account</a>
            </div>
        </div>
        <div id="loginbanner">
            <p>Students: Sign in with your CNET ID to get customizable job alerts and recommendations.</p>
            <p>Employers: Create an account to post new jobs and internships.</p>
        </div>
        <div id="content">
            <fieldset>
                <legend>Internships</legend>
                <table>
                    <thead>
                        <tr>
                            <th>Date Posted</th>
                            <th>Deadline</th>
                            <th>Organization</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[Date]</td>
                            <td>[Date]</td>
                            <td><a href="">[Name]</a></td>
                            <td><a href="">[Name]</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>Part-Time Jobs</legend>
                <table>
                    <thead>
                        <tr>
                            <th>Date Posted</th>
                            <th>Deadline</th>
                            <th>Organization</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[Date]</td>
                            <td>[Date]</td>
                            <td><a href="">[Name]</a></td>
                            <td><a href="">[Name]</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>Full-Time Jobs</legend>
                <table>
                    <thead>
                        <tr>
                            <th>Date Posted</th>
                            <th>Deadline</th>
                            <th>Organization</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[Date]</td>
                            <td>[Date]</td>
                            <td><a href="">[Name]</a></td>
                            <td><a href="">[Name]</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
	<br>
	<%= link_to 'New Posting', new_job_posting_path %>
    </body>
</html>
