html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #474740;
  background-color: #EAE9E1;
  height: 100%;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
}

#page-wrap {
  position: relative;
  min-height: 100%;
  background-image: url('/assets/body-bg.gif');
  background-repeat: repeat-y;
  background-position: center;
}

#page-header {
  background: maroon;
  background-image: -moz-linear-gradient(center top,maroon,#700 88px,#9F2425 88px,#9F2425 89px,#971E21 89px,#971E21 96px);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,maroon),color-stop(0.92,#700),color-stop(0.92,#9F2425),color-stop(0.93,#9F2425),color-stop(0.93,#971E21),color-stop(1.0,#971E21));
  background-image: gradient(linear,left top,left bottom,color-stop(0,maroon),color-stop(0.92,#700),color-stop(0.92,#9F2425),color-stop(0.93,#9F2425),color-stop(0.93,#971E21),color-stop(1.0,#971E21));
  height: 96px;
  width: 100%;
  position: relative;
  z-index: 10;
}

#page-header-wrapper {
  margin: 0 auto;
  width: 936px;
}

#page-title {
  float: left;
  margin-left: 20px;
}

#page-wordmark {
  height: 53px;
  width: 246px;
  margin-top: 20px;
  float: right;
  margin-right: 20px;
}

#page-wordmark * {
  border: 0;
}

#page-body {
  position: relative;
  height: 100%;
}

#page-content {
  position: relative;
  width: 936px;
  margin: 0 auto;
  background-color: #F7F6ED;
  top: -96px;
  padding: 96px 10px 0px 10px;
  min-height: 100%;
  z-index: 0;
}

#login {
  padding-top: 10px;
  float: right;
}

#login p {
  margin: 0px;
}

#spacer {
  height: 150px;
}

#page-footer {
  position: relative;
  margin-top: -105px;
  width: 100%;
  height: 105px;
  clear: both;
  background-image: url('/assets/outsidefooterbg.gif');
}

#page-footer-content {
  width: 936px;
  padding-left: 10px;
  padding-right: 10px;
  height: 105px;
  margin: 0 auto;
  background-image: url('/assets/insidefooterbg.gif');
}

a:link, a:visited {
  color: #155F83;
  text-decoration: none;
}

a:active, a:hover {
  color: #20364E;
  text-decoration: underline;
}

a.login_link {
  font-weight: bold;
}

h1, h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
  color: white;
  cursor: auto;
  display: block;
  font-family: ProximaNova-Regular, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

h2 {
  color: #7F3735;
  font-family: ProximaNova-Regular, Helvetica, sans-serif;
  font-size: 24px;
}

h3 {
  color: #155F83;
  text-transform: uppercase;
  font-family: ProximaNova-Regular, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 1.25em;
  margin: 5px 0px 5px 0px;
  padding: 0;
  font-weight: normal;
}

fieldset {
  border-top: solid 5px #3E7C97;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: #EAEAE2;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.jobtable {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

table.jobtable th {
  font-weight: bold;
  text-align: center;
  background-color: #CCCCCC;
  padding: 3px;
}

table.jobtable td {
  text-align: center;
  padding: 3px;
}

table.job_posting, table.employer_listing {
  border: 0;
  border-top: solid 5px #7F3735;
  border-collapse: collapse;
}

table.job_posting th, table.employer_listing th {
  font-weight: bold;
  text-align: left;
  background-color: #CCCCCC;
  padding: 3px 10px 3px 10px;
  vertical-align: top;
}

table.job_posting td, table.employer_listing td {
  text-align: left;
  padding: 3px 10px 3px 20px;
  background-color: #EEEEEE;
  vertical-align: top;
}

table.formtable {
  border: 0;
  border-collapse: collapse;
}

table.formtable td {
  vertical-align: top;
}

table.formtable p {
  margin-top: 0;
}

td.preformatted * {
  margin: 0;
}

col.dateposted {
  width: 12em;
}

col.deadline {
  width: 12em;
}

col.organization {
  width: 20em;
}

col.position {
  width: 26em;
}

col.posting_description {
  width: 50em;
}

label {
  position: relative;
  margin: 5px 20px 5px 5px;
  top: 2px;
  white-space: nowrap;
}

label.label_with_help {
  margin: 5px 0px 5px 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: solid 1px gray;
  padding: 3px;
  width: 20em;
}

input[type="submit"] {
  border: solid 1px gray;
  padding: 3px;
  width: 10em;
}

textarea {
  border: solid 1px gray;
  padding: 3px;
  width: 20em;
  height: 30em;
}

input.view_change {
  width: 5em;
}

textarea.posting_comments {
  width: 30em;
  height: 5em;
}

textarea.posting_contact {
  height: 15em;
}

input.approve_btn {
  background-color: #00C800;
  margin: 10px;
}

input.request_changes_btn {
  background-color: #FFC800;
  margin: 10px;
}

input.reject_btn {
  background-color: #C80000;
  margin: 10px;
}

a.reject_btn {
  background-color: #C80000;
  margin: 10px;
  border: solid 1px gray;
  padding: 3px;
  width: 20em;
}

p.greeting {
  font-weight: bold;
}

.notice {
  position: fixed;
  z-index: 11;
  top: 96px;
}

.alert {
  position: fixed;
  z-index: 11;
  top: 96px;
}

.help {
  font-size: small;
  color: #2e83b0;
  position: relative;
  top: -5px;
  cursor: help;
  padding: 5px 5px 5px 0px;
  z-index: 90;
}

#help {
  position: absolute;
  border: solid 1px black;
  background-color: white;
  padding: 3px;
  font-size: small;
  z-index: 100;
}

#error_explanation, #errorExplanation {
  border: dashed 1px #999;
  margin: 0px 20px 20px 20px;
  padding: 20px;
}

#error_explanation h2, #errorExplanation h2 {
  margin: 0;
  font-size: large;
  color: red;
}

div.field_with_errors {
  display: inline;
}

div.field_with_errors input {
  border: solid 1px red;
}

div.field_with_errors label {
  text-decoration: underline;
  color: red;
}

textarea.plaintext {
  background-color: #EEEEEE;
  border: dashed 1px gray; 
  padding: 10px;
  height: 20em;
}

/* Opera fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.sorted-none img, .sorted-ascending img, .sorted-descending img {
  position: relative;
  padding-left: 5px;
  top: 3px;
  cursor: pointer;
}
