html {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-image: url('http://www.cs.uchicago.edu/i/grid_tile_dot.gif');
    margin: 0;
    padding: 0;
	font-family: "Helvetica", "Lucida Sans Unicode", sans;
}

#wrap {
    position: relative;
    width: 800px;
    margin: 0 auto;
    border: solid 1px black;
    min-height: 90%;
    background-color: white;
    z-index: 10;
}

#header {
    position: relative;
    width: 100%;
    text-align: center;
}

a:link, a:visited {
    color: #2e83b0;
    text-decoration: none;
}

a:hover, a:active {
    color: #990033;
    text-decoration: none;
}

h1 {
    position: relative;
    color: #2e83b0;
    z-index: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    position: relative;
    color: #2e83b0;
}

#header h2 {
    position: relative;
    font-style: italic;
    color: #5eb3e0;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: solid 2px #2e83b0;
    font-weight: normal;
}

#loginpanel {
    position: absolute;
    top: -10px;
    right: 10px;
    text-align: left;
    z-index: 1;
}

a.loginpanel:link, a.loginpanel:visited {
    color: #2e83b0;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

a.loginpanel:hover, a.loginpanel:active {
    color: #990033;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

#loginbanner {
    position: relative;
    width: 760px;
    text-align: left;
    padding: 5px 20px 5px 20px;
    background-color: #66ccff;
    margin-bottom: 20px;
}

#loginbanner p {
    color: white;
    font-size: small;
    font-style: italic;
    margin: 5px 0 5px 0;
}

#content {
    text-align: left;
}

fieldset {
    border: solid 2px #2e83b0;
    margin: 0 10px 20px 10px;
}

legend {
    color: #2e83b0;
    font-size: normal;
    font-weight: bold;
}

table.jobtable {
    border: none;
    width: 100%;
    border-collapse: collapse;
}

table.jobtable tr.even {
    background-color: white;
}

table.jobtable tr.odd {
    background-color: #b7e6ff;
}

table.jobtable td {
    padding: 3px 5px 3px 5px;
}

col.dateposted {
    width: 15%;
}

col.deadline {
    width: 15%;
}

col.organization {
    width: 30%;
}

col.position {
    width: 30%;
}

a.joblink:link, a.joblink:visited {
    color: #2e83b0;
    text-decoration: none;
}

a.joblink:hover, a.joblink:active {
    color: #990033;
    text-decoration: none;
}

#formcontainer {
    margin: 0 50px 50px 50px;
}

input[type=text], input[type=email], input[type=password], textarea {
    border: solid 1px #2e83b0;
    width: 50%;
}

input[type=text], input[type=email], input[type=password] {
    font-size: large;
}

label {
    font-style: italic;
}

div.field {
    margin: 20px 0 20px 0;
}

div.token {
    display: inline-block;
    background-color: darkblue;
    color: white;
    font-size: small;
    padding: 3px;
    border-radius: 4px;
    margin: 3px;
    z-index: 50;
}

span.removetag {
    position: relative;
    top: -3px;
    padding-left: 2px;
    color: white;
    cursor: pointer;
}

span.removetag:hover {
    color: red;
}

table.singlejobview {
    border: solid 2px #2e83b0;
    border-collapse: collapse;
    text-align: left;
}

table.singlejobview tr {
    border: dotted 1px #2e83b0;
}

table.singlejobview th {
    background-color: #b7e6ff;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    vertical-align: top;
}

table.singlejobview td {
    padding: 3px 5px 3px 5px;
    vertical-align: top;
}

span.help {
    font-size: small;
    color: #2e83b0;
    position: relative;
    top: -5px;
    cursor: help;
    padding: 5px 5px 5px 5px;
    z-index: 90;
}

#help {
    position: absolute;
    border: solid 1px black;
    background-color: white;
    padding: 3px;
    font-size: small;
    z-index: 100;
}

#taglist {
    border: solid 1px #2e83b0;
    width: 50%;
    min-height: 25px;
    padding: 2px;
}

#globaltaglist {
    display: none;
}