div.token {
    display: inline-block;
    background-color: darkblue;
    color: white;
    font-size: small;
    padding: 3px;
    border-radius: 4px;
    margin: 3px;
    z-index: 50;
}

span.removetag {
    position: relative;
    top: -3px;
    padding-left: 2px;
    color: white;
    cursor: pointer;
}

span.removetag:hover {
    color: red;
}

#taglist {
    border: solid 1px #2e83b0;
    min-height: 25px;
    width: 226px;
}

#taglist_static {
    padding: 2px;
}

#taglist_editable {
    padding: 2px;
    min-height: 17px;
    border: 0;
    outline: 0px solid transparent;
}

#taglist_editable:focus {
    outline: 0px solid transparent;
}

#globaltaglist {
    display: none;
}

.placeholder {
  font-style: italic;
  font-color: gray;
}
